body {
  height: auto;
  font-family: 'Lucida Console';
}
ui.mini.borderless.fixed.menu {
  background-color: rgba(0, 0, 0, 0.6);
}

#headerbar {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 999;
}

#headerbar-title {
  z-index: 999;
  position: absolute;
  margin-top: 0.5em;
  padding-left: 4em;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Lucida Console';
  color: black;
}

#navbar {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
  background: white;
}

#navbar-menu-allT,
#navbar-menu-allMensT,
#navbar-menu-allWomensT {
  font-family: 'Lucida Console';
  font-size: 1.5em;
  padding-left: 3em;
}

#auth-form-login {
  background-color: #767676;
  color: white;
}

#navbar-cart-modal {
  background-color: white;
}

#quantity-container {
  position: relative;
  margin-top: 2em;
}

.ui.red.icon.right.floated.button {
  position: relative;
  margin-top: 1em;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main {
  margin-top: 10em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  bottom: 0;
  margin: 3em 0em 0em;
  max-height: 50px;
  padding: 3em 0em;
  position: absolute;
  width: 100%;
}
