body {
  height: auto;
  font-family: sans-serif;
}

#navbar-alltee-dropdown {
  background-color: #767676;
  color: white;
}

#auth-form-login {
  background-color: #767676;
  color: white;
}

#navbar-cart-modal {
  background-color: #767676;
  color: white;
}

#quantity-container {
  position: relative;
  margin-top: 2em;
}

.ui.red.icon.right.floated.button {
  position: relative;
  margin-top: 1em;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  bottom: 0;
  margin: 5em 0em 0em;
  max-height: 50px;
  padding: 5em 0em;
  position: absolute;
  width: 100%;
}
