body {
  font-family: sans-serif;
}

#navbar-alltee-dropdown {
  background-color: #767676;
  color: white;
}

#auth-form-login {
  background-color: #767676;
  color: white;
}

#navbar-cart-modal {
  background-color: #767676;
  color: white;
}
